.navcontainer {
  display: grid;
  padding: 1em 2em;
  grid-template-columns: 1fr 0.9fr 1fr;

  grid-template-areas: "logo searchbar searchbutton ";
  align-items: center;
  justify-content: center;
}
.logo {
  grid-area: "logo";
  font-size: 2rem;
  font-weight: 600;
  color: #4182e4;
}
.logo > span {
  color: #7a7676;
}

.searchbutton {
  width: 150px;
  margin-left: 50px;
}
